In [1]:
#Importing Libraries
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [3]:
data.shape

(60943, 12)

In [4]:
data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [9]:
#Question 3
# Select columns 'Y2017' and 'Area'
data_sub = data[['Y2017', 'Area']]

# Perform groupby operation on 'Area' and calculate the sum for 'Y2017'
grouped = data_sub.groupby('Area')['Y2017'].sum()

# Find the Area with the highest sum in 2017
highest_sum_area = grouped.idxmax()

# Print the Area with the highest sum in 2017
print("The area with the highest sum in 2017 is: ", highest_sum_area)

The area with the highest sum in 2017 is:  Nigeria

In [8]:
grouped

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [15]:
#Question 4
# Dataframe for Wine Year 2015 and 2018
wine_data = data[data['Item'] == 'Wine'][['Y2015', 'Y2018']]

#The sum of Wine produced in 2015 and 2018
total_15 = wine_data['Y2015'].sum()
total_18 = wine_data['Y2018'].sum()

#The total sum of Wine produced in 2015 and 2018
print("The total sum of Wine produced in 2015:  {:.2f}".format(total_15))
print("The total sum of Wine produced in 2018:  {:.2f}".format(total_18))

The total sum of Wine produced in 2015:  4251.81
The total sum of Wine produced in 2018:  4039.32

In [11]:
#Question 5
#Total number and Percentage of Missing Data in 2014, 3dp
count_of_missing = data['Y2014'].isna().sum()
total_count = len(data['Y2014'])
missing_percentage = (count_of_missing / total_count) * 100
print("The total number of missing data in 2014:", count_of_missing)
print("The percentage of missing data in 2014: {:.3f}%".format(missing_percentage))

The total number of missing data in 2014: 1589
The percentage of missing data in 2014: 2.607%

In [12]:
#Question 8
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [14]:
#Question 9
#Mean and Standard Deviation
data_2017 = data[['Y2017']]
mean_2017 = data_2017.mean().values[0]
standard_dev_2017 = data_2017.std().values[0]
print("The mean for the year 2017: {:.2f}".format(mean_2017))
print("The standard Deviation for the year 2017: {:.2f}".format(standard_dev_2017))

The mean for the year 2017: 140.92
The standard Deviation for the year 2017: 1671.86

In [16]:
#Question 10
#Number of Unique Countries in the dataset
no_unique_countries = data['Area'].nunique()

# Print the total number of unique countries
print("The total number of unique countries:", no_unique_countries)

The total number of unique countries: 49

In [26]:
#Question 13
#Highest Sum of Stock Variation
sum_high = data[data['Element'] == 'Stock Variation'].groupby('Element').sum()
print(sum_high)

                 Area Code                                               Area  \
Element
Stock Variation     571566  AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...

                 Item Code                                               Item  \
Element
Stock Variation   11329527  Cereals - Excluding BeerWheat and productsRice...

                 Element Code  \
Element
Stock Variation      21464704

                                                              Unit     Y2014  \
Element
Stock Variation  1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...  58749.83

                    Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  34910.99  33140.12  54316.91  20577.91

In [28]:
#Question 15: Total protein supply in Madagascar
total_quant = data[(data['Element'] == 'Protein supply quantity (g/capita/day)') & (data['Area'] == 'Madagascar')]['Y2015'].sum()
round(total_quant,2)

173.05

In [29]:
#Question 16: Type Error
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [30]:
#Question 17 
data_sub = data[['Y2017', 'Area']]
grouped = data_sub.groupby('Area')['Y2017'].sum()

# Sort the sums in ascending order
sorted_sum = grouped.sort_values(ascending=True)

# Area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_sum.index[6]

# Print the Area with the 7th lowest sum in 2017
print("The area with the 7th lowest sum in 2017 is:", seventh_lowest_area)

The area with the 7th lowest sum in 2017 is: Guinea-Bissau

In [34]:
#Question 19
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

# DataFrame
data_f = pd.DataFrame(lst, columns=col,index=[1,2,3])

# Print the DataFrame
print(data_f)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [35]:
#Question 20
y = [(2, 4), (7, 8), (1, 5, 9)]

# To assign element 8 to variable x
x = y[1][1]

# Print the value of x
print(x)

8